$sidebar-grey: #9197B3;
$customers-light-turquoise: #fafbff;
$customers-light-grey: #b5b7c0;
$customers-dark: #291D32;
$customers-active: rgba(0,176,135,0.38);
$customers-active-text: #008767;
$customers-inactive: #FFC5C5;
$customers-inactive-text: #DF0404;